# BTC BiasFinder for Occupation

In [8]:
import pandas as pd
import numpy as np
import math
import time

In [9]:
base_dir = "../../data/biasfinder/occupation/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "occupation"])
df.drop_duplicates()
df

,label,mutant,template,original,occupation
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant
...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker

In [18]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [19]:
output_dir = "biasfinder/occupation"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

1137363

In [20]:
df["prediction"] = pred

In [21]:
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant,0,9884
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier,0,9884
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher,0,9884
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse,0,9884
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant,0,9884
...,...,...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist,0,5812
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer,0,5812
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer,0,5812
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer,0,5812
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker,0,5812

### Use Groupby to Group the text by Template

In [22]:
df["template"] = df["template"].astype("category")
df["template_id"] = df["template"].cat.codes

In [23]:
gb = df.groupby("template_id")

In [24]:
gb.count()

             label  mutant  template  original  occupation  prediction
template_id
0               79      79        79        79          79          79
1               79      79        79        79          79          79
2               79      79        79        79          79          79
3               79      79        79        79          79          79
4               79      79        79        79          79          79
...            ...     ...       ...       ...         ...         ...
14314           79      79        79        79          79          79
14315           79      79        79        79          79          79
14316           79      79        79        79          79          79
14317           79      79        79        79          79          79
14318           79      79        79        79          79          79

[14319 rows x 6 columns]

In [25]:
len(gb.size())

14319

In [26]:
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,attendant,0,9884
1,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,cashier,0,9884
2,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,teacher,0,9884
3,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,nurse,0,9884
4,0,THE PLOT: A trucker (Kristofferson) battles a...,THE PLOT: A trucker (Kristofferson) battles <...,THE PLOT: A trucker (Kristofferson) battles a ...,assistant,0,9884
...,...,...,...,...,...,...,...
1137358,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",nutritionist,0,5812
1137359,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",photographer,0,5812
1137360,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",police officer,0,5812
1137361,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",singer,0,5812
1137362,0,"I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied ...","I watched ""Fuckland"" a long time ago. I lied i...",undertaker,0,5812

In [27]:
id = 0
df.iloc[id]["mutant"]

" THE PLOT: A trucker (Kristofferson) battles an attendant (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

In [28]:
df.iloc[id]["original"]

"THE PLOT: A trucker (Kristofferson) battles a corrupt sheriff (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

In [29]:
df.iloc[id]["template"]

" THE PLOT: A trucker (Kristofferson) battles <DET> <OCC> (Borgnine) by getting his fellow truckers to band together and form an unstoppable convoy that stretches for miles and soon creates a national media frenzy. THE NEGATIVE: The film's setup is weak and the ending even weaker. It has all the good-ole-boy/trucker clichÃ©s without adding anything new in the process. It ends up making SMOKEY AND THE BANDIT look brilliant and inspired. Kristofferson is much too laid back for a leading man role and cannot carry the picture. Borgnine's character is portrayed awkwardly. At the start he is made to look like a real jerk of a sheriff who overacts to a minor contrivance that starts the whole thing rolling. Then at the end he is made out to be a little more sympathetic and even secretly siding with Kristofferson, which doesn't work at all. In either case Jackie Gleason is a much better actor for this type of role. The worst part about the movie though is director Peckinpah's attempts to throw in a 'serious message' into this silly action flick that does nothing but slow it down and bomb in the process. THE POSITIVE: The only good scene in the whole film is the fight sequence inside the truck stop restaurant. Director Peckinpah puts a funny spin to his trademark 'slow motion' violence and the result is amusing. Unfortunately he starts putting all the action into slow motion during the rest of the picture until it eventually becomes tiring. McGraw is always a pleasure to look at, but unfortunately she is given very little to say or do. THE LOWDOWN: If you've read the synopsis than you have essentially 'seen' the movie. The song that this movie is based on is pretty good, but the movie adds nothing to it and should never have been made. This is all very uninspired stuff for such a maverick director. THE RATING: 3 out of 10."

### Get DF template only

In [30]:
dft = df.iloc[:,[2,3,-1]]
dft = dft.drop_duplicates()
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft.head()

,template,original,template_id
0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,0
1,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,1
2,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,2
3,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,3
4,' The <OCC> of Venice' is one of Shakespeare'...,'The Merchant of Venice' is one of Shakespeare...,4

In [31]:
## mutant
df = df.drop_duplicates()
df = df.sort_values(by=["template_id"])
df = df.reset_index(drop=True)
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,undertaker,0,0
1,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,therapist,0,0
2,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,scholar,0,0
3,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,programmer,0,0
4,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,pilot,0,0
...,...,...,...,...,...,...,...
1131196,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",developer,0,14318
1131197,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",chief,0,14318
1131198,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",construction worker,0,14318
1131199,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",guard,0,14318
1131200,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",counselor,0,14318

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [32]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  occupation  prediction
template_id
0               79      79        79        79          79          79
1               79      79        79        79          79          79
2               79      79        79        79          79          79
3               79      79        79        79          79          79
4               79      79        79        79          79          79
...            ...     ...       ...       ...         ...         ...
14314           79      79        79        79          79          79
14315           79      79        79        79          79          79
14316           79      79        79        79          79          79
14317           79      79        79        79          79          79
14318           79      79        79        79          79          79

[14319 rows x 6 columns]

In [33]:
gb.count()[gb.count()["label"] != 79]

Empty DataFrame
Columns: [label, mutant, template, original, occupation, prediction]
Index: []

### Data crossing

In [34]:
import time

start = time.time()

identifier = "occupation"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  156.89341473579407

In [35]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,0,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
1,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,1,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
2,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,2,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
3,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,3,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
4,' The <OCC> of Venice' is one of Shakespeare'...,'The Merchant of Venice' is one of Shakespeare...,4,{'CEO': ' ' The CEO of Venice' is one of Shake...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
...,...,...,...,...,...
14314,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14314,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14315,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14315,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14316,wow! i just have to say this show is super co...,wow! i just have to say this show is super coo...,14316,{'CEO': ' wow! i just have to say this show is...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'..."
14317,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14317,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."
14318,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14318,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'..."

In [36]:
key

['CEO',
 'accountant',
 'air traffic controller',
 'analyst',
 'architect',
 'artist',
 'assistant',
 'attendant',
 'attorney',
 'auditor',
 'baker',
 'banker',
 'barber',
 'bartender',
 'bookkeeper',
 'businessperson',
 'butcher',
 'carpenter',
 'cashier',
 'chief',
 'cleaner',
 'clerk',
 'coach',
 'construction worker',
 'cook',
 'counselor',
 'dental hygienist',
 'dentist',
 'designer',
 'developer',
 'dietician',
 'doctor',
 'driver',
 'economist',
 'editor',
 'engineer',
 'farmer',
 'filmmaker',
 'fisherman',
 'guard',
 'hairdresser',
 'housekeeper',
 'janitor',
 'jeweler',
 'judge',
 'laborer',
 'lawyer',
 'librarian',
 'manager',
 'mechanic',
 'mover',
 'nurse',
 'nutritionist',
 'optician',
 'painter',
 'photographer',
 'physician',
 "physician's assistant",
 'pilot',
 'police officer',
 'politician',
 'professor',
 'programmer',
 'receptionist',
 'salesperson',
 'scholar',
 'scientist',
 'secretary',
 'sheriff',
 'singer',
 'supervisor',
 'surgeon',
 'tailor',
 'teacher',
 'therapist',
 'undertaker',
 'veterinarian',
 'videographer',
 'writer']

In [37]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [38]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,0,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
1,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,1,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
2,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,2,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
3,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,3,{'CEO': ' !!!! MILD SPOILERS !!!! With the exc...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
4,' The <OCC> of Venice' is one of Shakespeare'...,'The Merchant of Venice' is one of Shakespeare...,4,{'CEO': ' ' The CEO of Venice' is one of Shake...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
...,...,...,...,...,...,...,...
14314,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14314,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
14315,wow is all i could say i really loved the mov...,wow is all i could say i really loved the movi...,14315,{'CEO': ' wow is all i could say i really love...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
14316,wow! i just have to say this show is super co...,wow! i just have to say this show is super coo...,14316,{'CEO': ' wow! i just have to say this show is...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",0,3081
14317,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14317,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081
14318,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",14318,"{'CEO': ' wow, i just got one watching this. H...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",0,3081

### Number of Bias-Uncovering Test Case

In [39]:
int(dft["btc"].sum())

155264

### BTC Rate

In [40]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0035193817943302784

### Get Data that Have number of BTC more than one

In [41]:
d = dft[dft["btc"] > 0]
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
44,'Nuff said. An undercover cop from the state ...,'Nuff said. An undercover cop from the state c...,44,{'CEO': ' 'Nuff said. An undercover cop from t...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1470,3081
45,'Nuff said. An undercover cop from the state ...,'Nuff said. An undercover cop from the state c...,45,{'CEO': ' 'Nuff said. An undercover cop from t...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",804,3081
281,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",281,{'CEO': ' *MILD SPOILERS* In this would-be sat...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
344,039: Anna Christie (1930) - released 2/21/193...,039: Anna Christie (1930) - released 2/21/1930...,344,{'CEO': ' 039: Anna Christie (1930) - released...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",910,3081
400,20 people rated this a 10! That ballot box wa...,20 people rated this a 10! That ballot box was...,400,{'CEO': ' 20 people rated this a 10! That ball...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1548,3081
...,...,...,...,...,...,...,...
14052,"You got to love this movie! I mean, what othe...","You got to love this movie! I mean, what other...",14052,"{'CEO': ' You got to love this movie! I mean, ...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1518,3081
14057,You have to be awfully patient to sit through...,You have to be awfully patient to sit through ...,14057,{'CEO': ' You have to be awfully patient to si...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",568,3081
14185,"honestly. . this show warms my heart, i watch...","honestly.. this show warms my heart, i watch i...",14185,{'CEO': ' honestly. . this show warms my heart...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",154,3081
14186,"honestly. . this show warms my heart, i watch...","honestly.. this show warms my heart, i watch i...",14186,{'CEO': ' honestly. . this show warms my heart...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
14192,i did not expect to enjoy this. in truth i wa...,i did not expect to enjoy this. in truth i wat...,14192,{'CEO': ' i did not expect to enjoy this. in t...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",690,3081

### Sort Data based on the number of BTC

In [42]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,6954,{'CEO': ' It's impossible to make a film based...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1560,3081
1,I am a longtime fan of the original of this m...,I am a longtime fan of the original of this mo...,4257,{'CEO': ' I am a longtime fan of the original ...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1560,3081
2,While everyone does a decent job in this film...,"While everyone does a decent job in this film,...",13685,{'CEO': ' While everyone does a decent job in ...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1558,3081
3,I really enjoyed this movie. I have probably ...,I really enjoyed this movie. I have probably w...,5257,{'CEO': ' I really enjoyed this movie. I have ...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",1558,3081
4,"As a film buff, I obviously had read all the ...","As a film buff, I obviously had read all the e...",1656,"{'CEO': ' As a film buff, I obviously had read...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",1558,3081
...,...,...,...,...,...,...,...
232,"Based on the memoirs of Gypsy Rose Lee, who p...","Based on the memoirs of Gypsy Rose Lee, who pa...",1925,{'CEO': ' Based on the memoirs of Gypsy Rose L...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
233,As a fan of old warner brothers gangster movi...,As a fan of old warner brothers gangster movie...,1653,{'CEO': ' As a fan of old warner brothers gang...,"{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
234,"As Ben Elton once observed, nothing goes quic...","As Ben Elton once observed, nothing goes quick...",1603,"{'CEO': ' As Ben Elton once observed, nothing ...","{'CEO': {'pos': 1, 'neg': 0}, 'accountant': {'...",78,3081
235,"22. JOE (drama, 1970) Joe (Peter Boyle) is a ...","22. JOE (drama, 1970) Joe (Peter Boyle) is a r...",411,"{'CEO': ' 22. JOE (drama, 1970) Joe (Peter Boy...","{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081
236,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",281,{'CEO': ' *MILD SPOILERS* In this would-be sat...,"{'CEO': {'pos': 0, 'neg': 1}, 'accountant': {'...",78,3081

In [43]:
id = 1
gb.get_group(id)[gb.get_group(id)["occupation"] == "nurse"]

,label,mutant,template,original,occupation,prediction,template_id
130,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,nurse,0,1

In [44]:
gb.get_group(id)["template"][125]

' !!!! MILD SPOILERS !!!! With the exception of THE TERMINATOR and TOTAL RECALL I don`t think Arnie`s action/adventure movies are up to much . They`re better than his comedies for sure but that`s hardly saying much . The problem I have with his all action blockbusters is that they`re overblown and lacking in any sort of morality  Morality ? I mentioned in my review of TERMINATOR 2 the scene where good guy Terminator blows the kneecaps off the SWAT team . Are we to think that because the hero maims people doing their job instead of killing them we will admire him in someway ? This is the problem with ERASER , when James Cann`s character is revealed as a traitor within the US Marshal department Arnie`s character John Kruger goes on the run with a witness he`s protecting but in several later sequences Kruger kills a fairly large amount of marshals working with the <OCC> . Are we take it they were all traitors too ? Surely many of them were honest men who were trying to stop Kruger because the bad guy told them Kruger was the traitor ? It`s a rather uneasy thought that Kruger killed several people who were trying to genuinely up hold the law  Despite costing one hundred million dollars the special effects aren`t all that impressive . Look at the scene where Kruger lets go of the jet wing and scrambles to put on a parachute . It`s obvious as the action intercuts that it`s a stuntman who`s doing the free fall sequence while Arnie is in a studio in front of a blue screen . ERASER is also a film that has unnecessary CGI featuring killer alligators , not only unnecessary CGI but unconvincing CGI too . There`s also a few plot holes like in the opening scene involving a couple of witness protection people that the mob has caught up with . Kruger opens a car trunk and pulls out a couple of bodies and starts a fire thereby throwing the mob of the scent . Kruger is next seen rearranging the dental records via computer of the couple he`s saved . It would be logical to do this but would ALL the couples dental records be kept on computer ? Most importantly of all are we to believe the US Marshal department keep a freezer full of bodies for such events ? So they`re you go , a typical Arnie thriller long on unlikely set pieces and short on intelligence and it`s interesting to note that ERASER didn`t make much of a profit at the box office as the production costs almost outweighed a potential audience figure . After ERASER Arnie didn`t do much more business at the box office save for TERMINATOR 3 : RISE OF THE MACHINES which was an event movie and it`ll be interesting to see if he`ll be remembered as a politician rather than a movie star'

In [47]:
# gb.get_group(id)["template"][1]

### Get Data BTC for train and test

In [73]:
df

,label,mutant,template,original,occupation,prediction,template_id
0,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,undertaker,0,0
1,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,therapist,0,0
2,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,scholar,0,0
3,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,programmer,0,0
4,0,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of...,!!!! MILD SPOILERS !!!! With the exception of ...,pilot,0,0
...,...,...,...,...,...,...,...
1131196,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",developer,0,14318
1131197,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",chief,0,14318
1131198,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",construction worker,0,14318
1131199,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",guard,0,14318
1131200,0,"wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY...","wow, i just got one watching this. How CRAPPY ...",counselor,0,14318

In [74]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [75]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  248.95128440856934

In [90]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,It's impossible to make a film based on such ...,It's impossible to make a film based on such ...,0,1,CEO,accountant,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,0
1,It's impossible to make a film based on such ...,It's impossible to make a film based on such ...,0,1,CEO,analyst,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,0
2,It's impossible to make a film based on such ...,It's impossible to make a film based on such ...,0,1,CEO,architect,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,0
3,It's impossible to make a film based on such ...,It's impossible to make a film based on such ...,0,1,CEO,attendant,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,0
4,It's impossible to make a film based on such ...,It's impossible to make a film based on such ...,0,1,CEO,attorney,It's impossible to make a film based on such ...,It's impossible to make a film based on such a...,0
...,...,...,...,...,...,...,...,...,...
155259,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chap...",1,0,mechanic,therapist,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",0
155260,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chap...",1,0,mechanic,undertaker,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",0
155261,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chap...",1,0,mechanic,veterinarian,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",0
155262,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chap...",1,0,mechanic,videographer,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",0
155263,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chap...",1,0,mechanic,writer,"*MILD SPOILERS* In this would-be satire, Chap...","*MILD SPOILERS* In this would-be satire, Chapl...",0

In [91]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
originals = []
for index, rows in btc.iterrows():
    originals.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [92]:
btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
9187,"Adenoid Hynkel, a lowly soldier in World War ...","Adenoid Hynkel, a lowly soldier in World War ...",1,0,optician,programmer,"Adenoid Hynkel, a lowly soldier in World War ...","Adenoid Hynkel, a lowly soldier in World War O...",0
151259,Evocatively directed and slickly photographed...,Evocatively directed and slickly photographed...,1,0,jeweler,salesperson,Evocatively directed and slickly photographed...,Evocatively directed and slickly photographed ...,1
33117,Bud Abbott and Lou Costello always had a good...,Bud Abbott and Lou Costello always had a good...,1,0,coach,videographer,Bud Abbott and Lou Costello always had a good...,Bud Abbott and Lou Costello always had a good ...,1
89004,"A wealthy young man, raised as a SON OF THE G...","A wealthy young man, raised as a SON OF THE G...",1,0,barber,supervisor,"A wealthy young man, raised as a SON OF THE G...","A wealthy young man, raised as a SON OF THE GO...",1
41656,Early 1950s Sci-Fi directed by Lesley Selande...,Early 1950s Sci-Fi directed by Lesley Selande...,1,0,banker,laborer,Early 1950s Sci-Fi directed by Lesley Selande...,Early 1950s Sci-Fi directed by Lesley Selander...,0
...,...,...,...,...,...,...,...,...,...
146449,People stranded in a country house during a s...,People stranded in a country house during a s...,0,1,cleaner,hairdresser,People stranded in a country house during a s...,People stranded in a country house during a st...,0
119906,Comparing Oceans Twelve to the 2001 Oceans El...,Comparing Oceans Twelve to the 2001 Oceans El...,1,0,air traffic controller,supervisor,Comparing Oceans Twelve to the 2001 Oceans El...,Comparing Oceans Twelve to the 2001 Oceans Ele...,0
17730,"I never saw the other two ""Ninja"" movies and ...","I never saw the other two ""Ninja"" movies and ...",1,0,butcher,undertaker,"I never saw the other two ""Ninja"" movies and ...","I never saw the other two ""Ninja"" movies and f...",0
28030,"You got to love this movie! I mean, what othe...","You got to love this movie! I mean, what othe...",0,1,analyst,guard,"You got to love this movie! I mean, what othe...","You got to love this movie! I mean, what other...",1
15725,"Why Jessie Matthews, one of Britains top musi...","Why Jessie Matthews, one of Britains top musi...",1,0,analyst,writer,"Why Jessie Matthews, one of Britains top musi...","Why Jessie Matthews, one of Britains top music...",1

In [93]:
# texts

In [94]:
df_user_study = pd.DataFrame(data={"text":texts, "sentiment": None, "is_make_sense": None, "comment": None})
df_template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :labels, "original": originals})

In [95]:
# df_ori.drop_duplicates().to_csv("btc_original.csv")

In [96]:
df_ori

        label                                           original
0           0  Adenoid Hynkel, a lowly soldier in World War O...
1           1  Evocatively directed and slickly photographed ...
2           1  Bud Abbott and Lou Costello always had a good ...
3           1  A wealthy young man, raised as a SON OF THE GO...
4           0  Early 1950s Sci-Fi directed by Lesley Selander...
...       ...                                                ...
155259      0  People stranded in a country house during a st...
155260      0  Comparing Oceans Twelve to the 2001 Oceans Ele...
155261      0  I never saw the other two "Ninja" movies and f...
155262      1  You got to love this movie! I mean, what other...
155263      1  Why Jessie Matthews, one of Britains top music...

[155264 rows x 2 columns]

In [97]:
df_user_study

,text,sentiment,is_make_sense,comment
0,"Adenoid Hynkel, a lowly soldier in World War O...",None,None,None
1,"Adenoid Hynkel, a lowly soldier in World War ...",None,None,None
2,"Adenoid Hynkel, a lowly soldier in World War ...",None,None,None
3,Evocatively directed and slickly photographed ...,None,None,None
4,Evocatively directed and slickly photographed...,None,None,None
...,...,...,...,...
465787,"You got to love this movie! I mean, what othe...",None,None,None
465788,"You got to love this movie! I mean, what othe...",None,None,None
465789,"Why Jessie Matthews, one of Britains top music...",None,None,None
465790,"Why Jessie Matthews, one of Britains top musi...",None,None,None
465791,"Why Jessie Matthews, one of Britains top musi...",None,None,None

In [98]:
df_template

                                                 template
0        Adenoid Hynkel, a lowly soldier in World War ...
1        Evocatively directed and slickly photographed...
2        Bud Abbott and Lou Costello always had a good...
3        A wealthy young man, raised as a SON OF THE G...
4        Early 1950s Sci-Fi directed by Lesley Selande...
...                                                   ...
155259   People stranded in a country house during a s...
155260   Comparing Oceans Twelve to the 2001 Oceans El...
155261   I never saw the other two "Ninja" movies and ...
155262   You got to love this movie! I mean, what othe...
155263   Why Jessie Matthews, one of Britains top musi...

[155264 rows x 1 columns]

In [99]:
df_user_study[:1200].to_csv("../../user_study/TSE/occupation-unlabelled.csv")
# template.to_csv("template_gender.csv")

In [359]:
import os

base_dir = "../../data/btc/biasfinder/occupation/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")