# Experiment on Repairing Prediction Model

In [376]:
import pandas as pd
import numpy as np
import math
import time

In [377]:
eval_dir = "gc_imdb_backup"
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=[0, 1, "mutant", "template", "gender", "label", "country"])
# df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "gender","template"])
df = pd.read_csv("../data/" + eval_dir + "/test.csv", header=None, sep="\t", names=["label", "mutant", "gender","template", "template_id"])
df

,label,mutant,gender,template,template_id
0,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846
1,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846
2,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846
3,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846
4,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846
...,...,...,...,...,...
1891808,1,"First, I'm a huge Dódi fan. I grew up knowing ...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128
1891809,1,"First, I'm a huge Iboyka fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128
1891810,1,"First, I'm a huge Zsófia fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128
1891811,1,"First, I'm a huge Ágota fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128
1891812,1,"First, I'm a huge Alexa fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128

In [378]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [379]:
output_dir = "gc_imdb_backup"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

1891813

In [380]:
df["prediction"] = pred

In [336]:
# df = df.drop(columns=[0,1])
df

,label,mutant,gender,template,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...",template,"I have only see three episodes of Hack, starri...",72,1
1,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",72,1
2,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",72,1
3,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",72,1
4,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",72,1
...,...,...,...,...,...,...
78989,1,this has to be one of the best and most useful...,female,this has to be one of the best and most useful...,252,0
78990,1,this has to be one of the best and most useful...,female,this has to be one of the best and most useful...,252,0
78991,1,this has to be one of the best and most useful...,female,this has to be one of the best and most useful...,252,0
78992,1,this has to be one of the best and most useful...,female,this has to be one of the best and most useful...,252,0
78993,1,this has to be one of the best and most useful...,female,this has to be one of the best and most useful...,252,0

### Use Groupby to Group the text by Template


`dft` is the dataframe for template

`df` is the dataframe for generated mutant

In [383]:
# dft = df[df["gender"] == "template"]
# df = df[df["gender"] != "template"]

dft = df[df.index % 311 == 0]
df = df[df.index % 311 != 0]

In [384]:
dft = dft.reset_index(drop=True)
dft

,label,mutant,gender,template,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,male,In the groovy mid 70's a scruffy bunch of bras...,2831,1
2,1,This must have been one of Chaplin's most ambi...,male,This must have been one of Chaplin's most ambi...,5200,1
3,1,The debut that plucked from obscurity one of t...,male,The debut that plucked from obscurity one of t...,4244,1
4,1,There is really no way to compare this motion ...,male,There is really no way to compare this motion ...,4491,1
...,...,...,...,...,...,...
6078,0,My Take: Yet another lame PG-13 horror movie w...,female,My Take: Yet another lame PG-13 horror movie w...,3326,0
6079,1,I heard they were going to remake this French ...,male,I heard they were going to remake this French ...,1899,1
6080,1,"Well, the movie did turn out a lot better than...",male,"Well, the movie did turn out a lot better than...",5542,1
6081,1,The French Babbette appears at the modest hous...,female,The French Babbette appears at the modest hous...,4152,1
6082,1,"First, I'm a huge Buddy Holly fan. I grew up k...",male,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1

In [385]:
df = df.reset_index(drop=True)
df

,label,mutant,gender,template,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
1,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
2,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
3,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
4,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
...,...,...,...,...,...,...
1885725,1,"First, I'm a huge Dódi fan. I grew up knowing ...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885726,1,"First, I'm a huge Iboyka fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885727,1,"First, I'm a huge Zsófia fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885728,1,"First, I'm a huge Ágota fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885729,1,"First, I'm a huge Alexa fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1

In [386]:
df.groupby("template_id").count()

             label  mutant  gender  template  prediction
template_id
0              310     310     310       310         310
1              310     310     310       310         310
2              310     310     310       310         310
3              310     310     310       310         310
4              310     310     310       310         310
...            ...     ...     ...       ...         ...
6078           310     310     310       310         310
6079           310     310     310       310         310
6080           310     310     310       310         310
6081           310     310     310       310         310
6082           310     310     310       310         310

[6083 rows x 5 columns]

## Majority Distribution

In [408]:
sum_pred = df.groupby("template_id").sum()
sum_pred

             label  prediction
template_id
0              310           0
1              310         310
2              310         310
3              310         310
4                0           0
...            ...         ...
6078           310         310
6079           310         310
6080           310         310
6081           310         310
6082             0           0

[6083 rows x 2 columns]

In [416]:
dist = pd.DataFrame()

In [417]:
max_size = np.max(sum_pred["prediction"].values)

# calculate the number of majority prediction for binary label 0,1
# return the maximal cardinality either from 0 class or 1 class
def calculate_majority(x) :
    if 2 * x > max_size :
        return 100 * x / max_size
    return 100 * abs(max_size - x) / max_size

temp = pd.DataFrame(data=sum_pred["prediction"].apply(calculate_majority))
dist["majority"] = temp["prediction"]
dist

             majority
template_id
0               100.0
1               100.0
2               100.0
3               100.0
4               100.0
...               ...
6078            100.0
6079            100.0
6080            100.0
6081            100.0
6082            100.0

[6083 rows x 1 columns]

In [418]:
# create bins for grouping into several interval
bin_labels = ['50', '50-60', '60-70', '70-80', '80-90', '90-100']
dist['bins'] = pd.cut(dist['majority'],
                              bins=[0, 50, 60, 70, 80, 90, 100],
                              labels=bin_labels)

In [412]:
dist

             majority    bins
template_id
0               100.0  90-100
1               100.0  90-100
2               100.0  90-100
3               100.0  90-100
4               100.0  90-100
...               ...     ...
6078            100.0  90-100
6079            100.0  90-100
6080            100.0  90-100
6081            100.0  90-100
6082            100.0  90-100

[6083 rows x 2 columns]

#### Distribution

In [420]:
dist.groupby("bins").count()

        majority
bins
50             6
50-60         11
60-70          9
70-80          5
80-90         16
90-100      6036

In [424]:
# see the instance of data for specific group
dist.groupby("bins").get_group("50")

             majority bins
template_id
956              50.0   50
1072             50.0   50
2213             50.0   50
3721             50.0   50
3891             50.0   50
5266             50.0   50

In [414]:
thres = 60
np.where(dist["majority"] < thres)[0]

array([  45,  618,  664,  946,  956, 1072, 1503, 1647, 2213, 2297, 2429,
       3257, 3721, 3891, 4323, 5266, 5470])

In [319]:
print(len([x for x in dist["majority"] if x < thres]))
[x for x in dist["majority"] if x < thres]

17

[54.662379421221864,
 52.733118971061096,
 51.446945337620576,
 56.59163987138264,
 50.160771704180064,
 50.160771704180064,
 56.91318327974277,
 56.91318327974277,
 50.160771704180064,
 58.842443729903536,
 54.01929260450161,
 50.48231511254019,
 50.160771704180064,
 50.160771704180064,
 57.234726688102896,
 50.160771704180064,
 57.87781350482315]

## Repair the Prediction

In [387]:
dft

,label,mutant,gender,template,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,male,In the groovy mid 70's a scruffy bunch of bras...,2831,1
2,1,This must have been one of Chaplin's most ambi...,male,This must have been one of Chaplin's most ambi...,5200,1
3,1,The debut that plucked from obscurity one of t...,male,The debut that plucked from obscurity one of t...,4244,1
4,1,There is really no way to compare this motion ...,male,There is really no way to compare this motion ...,4491,1
...,...,...,...,...,...,...
6078,0,My Take: Yet another lame PG-13 horror movie w...,female,My Take: Yet another lame PG-13 horror movie w...,3326,0
6079,1,I heard they were going to remake this French ...,male,I heard they were going to remake this French ...,1899,1
6080,1,"Well, the movie did turn out a lot better than...",male,"Well, the movie did turn out a lot better than...",5542,1
6081,1,The French Babbette appears at the modest hous...,female,The French Babbette appears at the modest hous...,4152,1
6082,1,"First, I'm a huge Buddy Holly fan. I grew up k...",male,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1

In [388]:
df

,label,mutant,gender,template,template_id,prediction
0,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
1,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
2,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
3,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
4,1,"I have only see three episodes of Hack, starri...",male,"I have only see three episodes of Hack, starri...",1846,1
...,...,...,...,...,...,...
1885725,1,"First, I'm a huge Dódi fan. I grew up knowing ...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885726,1,"First, I'm a huge Iboyka fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885727,1,"First, I'm a huge Zsófia fan. I grew up knowin...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885728,1,"First, I'm a huge Ágota fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1
1885729,1,"First, I'm a huge Alexa fan. I grew up knowing...",female,"First, I'm a huge Buddy Holly fan. I grew up k...",1128,1

In [389]:
max_size = max(df.groupby("template_id").sum()["label"])
max_size

310

In [390]:
prediction_count = df.groupby("template_id").sum()["prediction"]
prediction_count

template_id
0         0
1       310
2       310
3       310
4         0
       ...
6078    310
6079    310
6080    310
6081    310
6082      0
Name: prediction, Length: 6083, dtype: int64

In [391]:
majority_prediction = []
for p in prediction_count:
    if p * 2 < max_size :
        majority_prediction.append(0)
    else :
        majority_prediction.append(1)

In [392]:
dft = dft.sort_values(by=["template_id"])
dft["majority_prediction"] = majority_prediction
dft

,label,mutant,gender,template,template_id,prediction,majority_prediction
5685,1,Fourteen of the funniest minutes on celluloid...,male,Fourteen of the funniest minutes on celluloid...,0,0,0
83,1,Headlines warn us of the current campaign to ...,male,Headlines warn us of the current campaign to ...,1,1,1
221,1,"Heather Graham is not just a pretty face,she ...",female,"Heather Graham is not just a pretty face,she ...",2,1,1
4889,1,"Horror movie time, Japanese style. Uzumaki/Sp...",male,"Horror movie time, Japanese style. Uzumaki/Sp...",3,1,1
4538,0,I understand that people have different expec...,male,I understand that people have different expec...,4,0,0
...,...,...,...,...,...,...,...
3098,1,www.petitiononline.com/19784444/petition.html ...,female,www.petitiononline.com/19784444/petition.html ...,6078,1,1
2016,1,"yes, i have noticed that there are 347 other c...",male,"yes, i have noticed that there are 347 other c...",6079,1,1
1638,1,you can't take it realistically. -sheets Zombi...,male,you can't take it realistically. -sheets Zombi...,6080,1,1
5245,1,you know I've seen a lot of crappy hong kong m...,male,you know I've seen a lot of crappy hong kong m...,6081,1,1
2258,0,"you know, i always fancy disturbing or strange...",male,"you know, i always fancy disturbing or strange...",6082,0,0

In [393]:
repaired_df = dft[dft["prediction"] != dft["majority_prediction"]]
repaired_df

,label,mutant,gender,template,template_id,prediction,majority_prediction
5634,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,1,0
4227,1,Bobby and Mikey are two little boys who move a...,male,Bobby and Mikey are two little boys who move a...,715,1,0
85,1,Chris Morris' Brass Eye TV series had always g...,male,Chris Morris' Brass Eye TV series had always g...,798,1,0
4220,0,Don't get me wrong. I've got a considerable so...,male,Don't get me wrong. I've got a considerable so...,946,1,0
2087,0,"Ha ha! First of if you've never seen a ""Dimens...",male,"Ha ha! First of if you've never seen a ""Dimens...",1323,1,0
4032,0,I am testing myself to watch 3 bad movies in a...,male,I am testing myself to watch 3 bad movies in a...,1531,0,1
5199,0,I did not quite get Barnens O it is one of th...,male,I did not quite get Barnens O it is one of th...,1622,1,0
3037,0,I like all of the main actors involved in this...,male,I like all of the main actors involved in this...,1981,1,0
3688,0,I thought it will be a Ok movie after seeing t...,male,I thought it will be a Ok movie after seeing t...,2322,0,1
5166,1,I've read approximately 10 reviews of this fil...,male,I've read approximately 10 reviews of this fil...,2651,1,0
4200,0,"If it wasn't for Colin Firth, the movie would ...",male,"If it wasn't for Colin Firth, the movie would ...",2701,0,1
5751,1,"In this movie ""Virtual Sexuality"" the 17 year ...",female,"In this movie ""Virtual Sexuality"" the 17 year ...",2846,0,1
524,0,Just an hour ago I finished watching this my f...,male,Just an hour ago I finished watching this my f...,3065,1,0
4339,1,"Meester Sharky, you look so ... normal. You wo...",female,"Meester Sharky, you look so ... normal. You wo...",3257,1,0
4814,0,"Oddly enough, it's Fred MacMurray who plays th...",male,"Oddly enough, it's Fred MacMurray who plays th...",3522,1,0
5352,1,Sheba Baby is always underrated most likely be...,female,Sheba Baby is always underrated most likely be...,3891,0,1
457,1,Successful films on metaphysical subjects are ...,male,Successful films on metaphysical subjects are ...,4035,1,0
1816,0,The director infuses this film with false dept...,male,The director infuses this film with false dept...,4248,0,1
1999,0,"This could have been a good TV-movie, but the ...",female,"This could have been a good TV-movie, but the ...",4567,0,1
4289,0,This is a fact that this is the 1st Saudi feat...,male,This is a fact that this is the 1st Saudi feat...,4727,0,1
5028,0,This movie is the proverbial 80s flick that sh...,male,This movie is the proverbial 80s flick that sh...,5075,0,1
4034,0,directed by albert pyun in his inimitably awfu...,male,directed by albert pyun in his inimitably awfu...,5939,1,0

In [399]:
print("Correctly repaired: ", len(repaired_df[repaired_df["label"] == repaired_df["majority_prediction"]]))

Correctly repaired:  10

In [400]:
print("Wrongly repaired: ", len(repaired_df[repaired_df["label"] != repaired_df["majority_prediction"]]))

Wrongly repaired:  12

In [401]:
first_repaired_template_id = repaired_df["template_id"].values[1]
prediction_count[first_repaired_template_id]

59

In [395]:
df.groupby("template_id").get_group(first_repaired_template_id)

,label,mutant,gender,template,template_id,prediction
1746540,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,0
1746541,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,0
1746542,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,0
1746543,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,0
1746544,0,Aya! If you are looking for special effects th...,male,Aya! If you are looking for special effects th...,618,0
...,...,...,...,...,...,...
1746845,0,Aya! If you are looking for special effects th...,female,Aya! If you are looking for special effects th...,618,0
1746846,0,Aya! If you are looking for special effects th...,female,Aya! If you are looking for special effects th...,618,1
1746847,0,Aya! If you are looking for special effects th...,female,Aya! If you are looking for special effects th...,618,1
1746848,0,Aya! If you are looking for special effects th...,female,Aya! If you are looking for special effects th...,618,0
1746849,0,Aya! If you are looking for special effects th...,female,Aya! If you are looking for special effects th...,618,1

In [451]:
id = 21
for index, rows in repaired_df.reset_index(drop=True)[id:id+1].iterrows():
    print("Actual Label")
    print(rows["label"])
    print("Original Text")
    print(rows["template"])
    print("Prediction Label")
    print(rows["prediction"])
    print("Repaired Prediction")
    print(rows["majority_prediction"])

Actual Label
0
Original Text
directed by albert pyun in his inimitably awful but strangely hypnotic style, "crazy six" is yet another jewel in the crown for this decade's upscale hugo haas (jess franco?). "Stylish" overdirection, incoherent plotting, time-outs in the middle of action sequences for eurodisco torch -song performances, all these seem to be signifying traits for our man Pyun. Most interesting is how he always gets top-notch b-movie casts, compared to Wynorski or some of the other video directors. Ice-T, Rob Lowe, Mario Van Peebles, & the very strange Burt Reynolds ain't a bad cast, though they often look a bit confused. Check out "Postmortem", "Mean Guns", & "Omega Doom" for more top-notch Pyun mayhem!
Prediction Label
1
Repaired Prediction
0