# Number of BTC After

In [67]:
import pandas as pd
import numpy as np
import math
import time

In [96]:
data_dir = "../data/rq2/biasfinder/btc/"

df = pd.read_csv(data_dir + "full.csv")
df

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,template_id,label
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,0,1,female,male,i think that it was just like <name> except th...,3667,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,0,1,female,male,i think that it was just like <name> except th...,3667,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,0,1,female,male,i think that it was just like <name> except th...,3667,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,0,1,female,male,i think that it was just like <name> except th...,3667,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,0,1,female,male,i think that it was just like <name> except th...,3667,0
...,...,...,...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",0,1,female,male,"Try as I might, I just simply couldn't get int...",3335,0

In [97]:
df = df.iloc[:,[0,1,6,7]]
df

,mutant_1,mutant_2,template,template_id
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,i think that it was just like <name> except th...,3667
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,i think that it was just like <name> except th...,3667
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,i think that it was just like <name> except th...,3667
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,i think that it was just like <name> except th...,3667
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,i think that it was just like <name> except th...,3667
...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335

In [98]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [99]:
output_dir = "rq2/biasfinder"

result_dir = "../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

458192

In [101]:
df["prediction_1"] = pred[:len(df)]
df["prediction_2"] = pred[len(df):]
df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,mutant_1,mutant_2,template,template_id,prediction_1,prediction_2
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,i think that it was just like <name> except th...,3667,0,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,i think that it was just like <name> except th...,3667,0,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,i think that it was just like <name> except th...,3667,0,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,i think that it was just like <name> except th...,3667,0,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,i think that it was just like <name> except th...,3667,0,0
...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0

In [102]:
df

,mutant_1,mutant_2,template,template_id,prediction_1,prediction_2
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,i think that it was just like <name> except th...,3667,0,0
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,i think that it was just like <name> except th...,3667,0,0
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,i think that it was just like <name> except th...,3667,0,0
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,i think that it was just like <name> except th...,3667,0,0
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,i think that it was just like <name> except th...,3667,0,0
...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0

In [103]:
df["btc"] = df["prediction_1"] != df["prediction_2"]
df

/opt/conda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,mutant_1,mutant_2,template,template_id,prediction_1,prediction_2,btc
0,i think that it was just like Sárinka except t...,i think that it was just like Roen except that...,i think that it was just like <name> except th...,3667,0,0,False
1,i think that it was just like Sárinka except t...,i think that it was just like Jeet except that...,i think that it was just like <name> except th...,3667,0,0,False
2,i think that it was just like Sárinka except t...,i think that it was just like Hagen except tha...,i think that it was just like <name> except th...,3667,0,0,False
3,i think that it was just like Sárinka except t...,i think that it was just like Willow except th...,i think that it was just like <name> except th...,3667,0,0,False
4,i think that it was just like Sárinka except t...,i think that it was just like Belal except tha...,i think that it was just like <name> except th...,3667,0,0,False
...,...,...,...,...,...,...,...
229091,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0,False
229092,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0,False
229093,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0,False
229094,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0,False
229095,"Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...","Try as I might, I just simply couldn't get int...",3335,0,0,False

In [104]:
len(df[df["btc"] == True])

0

In [105]:
len(df[df["btc"] == False])

229096