# BTC - Country

### BiasFinder

In [55]:
import pandas as pd
import numpy as np
import math
import time

In [56]:
base_dir = "../../data/biasfinder/country/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "name", "country", "template_id"])
df.drop_duplicates()

,label,mutant,template,original,name,country,template_id
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406
...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910

In [57]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [58]:
output_dir = "biasfinder/country"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

76923

In [59]:
df["prediction"] = pred

In [60]:
df

,label,mutant,template,original,name,country,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406,1
...,...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910,1
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910,1
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910,1
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910,1
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910,1

### Use Groupby to Group the text by Template

In [61]:
gb = df.groupby("template_id")

In [62]:
gb.count()

             label  mutant  template  original  name  country  prediction
template_id
0               27      27        27        27    27       27          27
1               27      27        27        27    27       27          27
2               27      27        27        27    27       27          27
3               27      27        27        27    27       27          27
4               27      27        27        27    27       27          27
...            ...     ...       ...       ...   ...      ...         ...
2823            27      27        27        27    27       27          27
2824            27      27        27        27    27       27          27
2825            27      27        27        27    27       27          27
2826            27      27        27        27    27       27          27
2827            27      27        27        27    27       27          27

[2828 rows x 7 columns]

In [63]:
len(gb.size())

2828

In [64]:
df

,label,mutant,template,original,name,country,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406,1
...,...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910,1
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910,1
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910,1
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910,1
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910,1

In [65]:
id = 0
df.iloc[id]["mutant"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat Jelander rating as the saddest and most tragic: He blew his chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

In [66]:
df.iloc[id]["original"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat Jay Adams rating as the saddest and most tragic: He blew his chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

In [67]:
df.iloc[id]["template"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat <name> rating as the saddest and most tragic: He blew his chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

### Get DF template only

In [68]:
df

,label,mutant,template,original,name,country,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406,1
...,...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910,1
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910,1
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910,1
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910,1
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910,1

In [69]:
dft = df.iloc[:,[0, 2,3, 6]]
dft = dft.drop_duplicates()
dft

,label,template,original,template_id
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,1406
27,1,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,1913
54,0,"If you are like me and observed the original ""...","If you are like me and observed the original ""...",1371
81,1,The debut that plucked from obscurity one of t...,The debut that plucked from obscurity one of t...,1945
108,1,There is really no way to compare this motion ...,There is really no way to compare this motion ...,2076
...,...,...,...,...
76788,0,My Take: Yet another lame PG-13 horror movie w...,My Take: Yet another lame PG-13 horror movie w...,1588
76815,1,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",2589
76842,0,... Said the continuity announcer as TACTICAL ...,... Said the continuity announcer as TACTICAL ...,36
76869,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,2042
76896,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,1910

In [70]:
# ## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft

,label,template,original,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1
2,0,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,0,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,0,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4
...,...,...,...,...
2823,0,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",2823
2824,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,2824
2825,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",2825
2826,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,2826
2827,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,2827

In [71]:
## mutant
df = df.reset_index(drop=True)

In [72]:
df

,label,mutant,template,original,name,country,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406,1
...,...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910,1
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910,1
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910,1
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910,1
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910,1

In [73]:
dft

,label,template,original,template_id
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1
2,0,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,0,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,0,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4
...,...,...,...,...
2823,0,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",2823
2824,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,2824
2825,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",2825
2826,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,2826
2827,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,2827

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [74]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  name  country  prediction
template_id
0               27      27        27        27    27       27          27
1               27      27        27        27    27       27          27
2               27      27        27        27    27       27          27
3               27      27        27        27    27       27          27
4               27      27        27        27    27       27          27
...            ...     ...       ...       ...   ...      ...         ...
2823            27      27        27        27    27       27          27
2824            27      27        27        27    27       27          27
2825            27      27        27        27    27       27          27
2826            27      27        27        27    27       27          27
2827            27      27        27        27    27       27          27

[2828 rows x 7 columns]

### Data crossing

In [75]:
import time

start = time.time()

identifier = "country"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  8.580622911453247

In [76]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,{'Afghanistan': '!!! Spoiler alert!!! The poin...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral..."
1,1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1,"{'Afghanistan': '' A Tale of Two Sisters ', or...","{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral..."
2,0,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'Afghanistan': '' Airport 4 ' is basically a ...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral..."
3,0,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'Afghanistan': '' Be With Me ' is almost the ...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral..."
4,0,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4,"{'Afghanistan': '' Book II ' isn't a film, it'...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral..."
...,...,...,...,...,...,...
2823,0,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",2823,"{'Afghanistan': 'without a doubt, one of the m...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral..."
2824,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,2824,{'Afghanistan': 'wow is all i could say i real...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral..."
2825,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",2825,"{'Afghanistan': 'wow, i just got one watching ...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral..."
2826,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,2826,{'Afghanistan': 'yes barney is nonsense now bu...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral..."
2827,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,2827,{'Afghanistan': 'you know I've seen a lot of c...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral..."

In [77]:
key

['Afghanistan',
 'Australia',
 'Belgium',
 'Brazil',
 'Canada',
 'Czech',
 'Finland',
 'Greece',
 'Hungary',
 'India',
 'Iran',
 'Ireland',
 'Israel',
 'Italy',
 'Latvia',
 'Norway',
 'Poland',
 'Romania',
 'Slovenia',
 'Somalia',
 'Spain',
 'Sweden',
 'The Netherlands',
 'Turkey',
 'UK',
 'USA',
 'Ukraine']

In [78]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [79]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,{'Afghanistan': '!!! Spoiler alert!!! The poin...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",0,351
1,1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1,"{'Afghanistan': '' A Tale of Two Sisters ', or...","{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",0,351
2,0,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'Afghanistan': '' Airport 4 ' is basically a ...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",0,351
3,0,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'Afghanistan': '' Be With Me ' is almost the ...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",0,351
4,0,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4,"{'Afghanistan': '' Book II ' isn't a film, it'...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",0,351
...,...,...,...,...,...,...,...,...
2823,0,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",2823,"{'Afghanistan': 'without a doubt, one of the m...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",0,351
2824,1,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,2824,{'Afghanistan': 'wow is all i could say i real...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",0,351
2825,0,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",2825,"{'Afghanistan': 'wow, i just got one watching ...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",0,351
2826,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,2826,{'Afghanistan': 'yes barney is nonsense now bu...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",126,351
2827,1,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,2827,{'Afghanistan': 'you know I've seen a lot of c...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",0,351

### Number of Bias-Uncovering Test Case

In [80]:
int(dft["btc"].sum())

6644

### BTC Rate

In [81]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.006542957113299319

### Get Data that Have number of BTC more than one

In [82]:
d = dft[dft["btc"] > 0]
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
120,1,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...,120,{'Afghanistan': 'Jelander finally gives someth...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",180,351
123,0,<name> had no other reason to make this film e...,Thomas Edison had no other reason to make this...,123,{'Afghanistan': 'Jelander had no other reason ...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",92,351
265,0,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,265,{'Afghanistan': 'A cut above from the usual st...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",26,351
279,0,A group of 7 gold prospectors head into a mine...,A group of 7 gold prospectors head into a mine...,279,{'Afghanistan': 'A group of 7 gold prospectors...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",170,351
403,0,"As a documentary, this is laughable in a campy...","As a documentary, this is laughable in a campy...",403,"{'Afghanistan': 'As a documentary, this is lau...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",72,351
...,...,...,...,...,...,...,...,...
2746,1,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,2746,{'Afghanistan': 'You know you're watching soft...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",182,351
2750,0,"[ as a new resolution for this year 2005, i de...","[ as a new resolution for this year 2005, i de...",2750,{'Afghanistan': '[ as a new resolution for thi...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",26,351
2760,1,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,2760,{'Afghanistan': 'i consider this movie as one ...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",92,351
2814,1,toplines this ok comedy about an aging father ...,toplines this ok comedy about an aging father ...,2814,{'Afghanistan': 'toplines this ok comedy about...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",26,351
2826,1,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,2826,{'Afghanistan': 'yes barney is nonsense now bu...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",126,351

### Sort Data based on the number of BTC

In [83]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,label,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,1,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,2746,{'Afghanistan': 'You know you're watching soft...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",182,351
1,1,This must be one of the funniest Danish movies...,This must be one of the funniest Danish movies...,2448,{'Afghanistan': 'This must be one of the funni...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",182,351
2,0,"Well, how to start? I saw The Italian Job for ...","Well, how to start? I saw The Italian Job for ...",2585,"{'Afghanistan': 'Well, how to start? I saw The...","{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",180,351
3,1,I was a bit surprised to see all of the hate c...,I was a bit surprised to see all of the hate c...,1221,{'Afghanistan': 'I was a bit surprised to see ...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",180,351
4,1,<name> finally gives something besides his usu...,Jack Webb finally gives something besides his ...,120,{'Afghanistan': 'Jelander finally gives someth...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",180,351
...,...,...,...,...,...,...,...,...
58,0,The film quickly gets to a major chase scene w...,The film quickly gets to a major chase scene w...,1958,{'Afghanistan': 'The film quickly gets to a ma...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",26,351
59,0,It was only a matter of time that a spoof woul...,It was only a matter of time that a spoof woul...,1455,{'Afghanistan': 'It was only a matter of time ...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",26,351
60,0,I really wish Hollywood would come up with som...,I really wish Hollywood would come up with som...,1101,{'Afghanistan': 'I really wish Hollywood would...,"{'Afghanistan': {'pos': 0, 'neg': 1}, 'Austral...",26,351
61,0,I disagree 100% with the reviewer who disagree...,I disagree 100% with the reviewer who disagree...,841,{'Afghanistan': 'I disagree 100% with the revi...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",26,351
62,0,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,265,{'Afghanistan': 'A cut above from the usual st...,"{'Afghanistan': {'pos': 1, 'neg': 0}, 'Austral...",26,351

### Get Data BTC for train and test

In [84]:
df

,label,mutant,template,original,name,country,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Jelander,Afghanistan,1406,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Christop,Australia,1406,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Fabijano,Belgium,1406,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Mourão,Brazil,1406,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,Kerigan,Canada,1406,1
...,...,...,...,...,...,...,...,...
76918,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Waltruda,The Netherlands,1910,1
76919,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bağlan,Turkey,1910,1
76920,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Shontae,UK,1910,1
76921,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Lizzette,USA,1910,1
76922,1,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,The French Babbette appears at the modest hous...,Bilomira,Ukraine,1910,1

In [85]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [104]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  3.953542470932007

In [105]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,0,1,Afghanistan,Australia,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,1
1,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,0,1,Afghanistan,Brazil,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,1
2,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,0,1,Afghanistan,Greece,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,1
3,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,0,1,Afghanistan,Iran,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,1
4,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,0,1,Afghanistan,Italy,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,1
...,...,...,...,...,...,...,...,...,...
6639,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0,1,India,The Netherlands,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0
6640,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0,1,India,Turkey,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0
6641,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0,1,India,UK,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0
6642,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0,1,India,USA,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0
6643,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0,1,India,Ukraine,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,0

In [106]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [107]:
# texts

In [108]:
user_study = pd.DataFrame(data={"text":texts, "sentiment": None, "is_make_sense": None, "comment": None})
df_template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [109]:
# df_ori.drop_duplicates().to_csv("btc_original.csv")

In [110]:
df_ori

      label                                           original
0         1  You know you're watching softcore with the wro...
1         1  I had watched this as a kid but, not being muc...
2         1  A group of 7 gold prospectors head into a mine...
3         1  I usually really like Lawrence and being in Au...
4         1  Following the advice of a friend, I got myself...
...     ...                                                ...
6639      0  This is about as pretentious a movie as a shal...
6640      0  Average adventure movie that took a serious st...
6641      0  I will not say much about this film, because t...
6642      0  The Paul Kersey of DEATH WISH 3 is very far re...
6643      0  The 80s were overrun by all those HALLOWEEN/ F...

[6644 rows x 2 columns]

In [111]:
user_study

,text,sentiment,is_make_sense,comment
0,You know you're watching softcore with the wro...,None,None,None
1,You know you're watching softcore with the wro...,None,None,None
2,You know you're watching softcore with the wro...,None,None,None
3,"I had watched this as a kid but, not being muc...",None,None,None
4,"I had watched this as a kid but, not being muc...",None,None,None
...,...,...,...,...
19927,The Paul Kersey of DEATH WISH 3 is very far re...,None,None,None
19928,The Paul Kersey of DEATH WISH 3 is very far re...,None,None,None
19929,The 80s were overrun by all those HALLOWEEN/ F...,None,None,None
19930,The 80s were overrun by all those HALLOWEEN/ F...,None,None,None
19931,The 80s were overrun by all those HALLOWEEN/ F...,None,None,None

In [112]:
df_template

                                               template
0     You know you're watching softcore with the wro...
1     I had watched this as a kid but, not being muc...
2     A group of 7 gold prospectors head into a mine...
3     I usually really like <name> and being in Aust...
4     Following the advice of a friend, I got myself...
...                                                 ...
6639  This is about as pretentious a movie as a shal...
6640  Average adventure movie that took a serious st...
6641  I will not say much about this film, because t...
6642  The Paul Kersey of DEATH WISH 3 is very far re...
6643  The 80s were overrun by all those HALLOWEEN/ F...

[6644 rows x 1 columns]

In [113]:
user_study[:1200].to_csv("../../user_study/TSE/country-unlabelled.csv")
# template.to_csv("template_gender.csv")

In [96]:
import os

base_dir = "../../data/btc/biasfinder/country/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")