# BTC - Gender

### BiasFinder

In [69]:
import pandas as pd
import numpy as np
import math
import time

In [70]:
base_dir = "../../data/biasfinder/gender/"
df = pd.read_csv(base_dir + "test.csv", header=None, sep="\t", names=["label", "mutant", "template", "original", "gender", "template_id"])
df.drop_duplicates()

,label,mutant,template,original,gender,template_id
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470
...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181

In [71]:
def read_txt(fpath):
    pred = []
    file = open(fpath)
    lines = file.readlines()
    for l in lines :
        pred.append(int(l))
    file.close()
    
    return pred

In [72]:
output_dir = "biasfinder/gender"

result_dir = "../../result/" + output_dir + "/"

path = result_dir + "results_data.txt"

pred = read_txt(path)

print(len(pred))

156676

In [73]:
df["prediction"] = pred

In [74]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
...,...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1

### Use Groupby to Group the text by Template

In [75]:
gb = df.groupby("template_id")

In [76]:
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               60      60        60        60      60          60
2               60      60        60        60      60          60
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
3056            60      60        60        60      60          60
3057            60      60        60        60      60          60
3058            60      60        60        60      60          60
3059            60      60        60        60      60          60
3060            60      60        60        60      60          60

[3061 rows x 6 columns]

In [77]:
len(gb.size())

3061

In [78]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
...,...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1

In [79]:
id = 0
df.iloc[id]["mutant"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat Palona rating as the saddest and most tragic: He blew his chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

In [80]:
df.iloc[id]["original"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat Jay Adams rating as the saddest and most tragic: He blew his chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

In [81]:
df.iloc[id]["template"]

"In the groovy mid 70's a scruffy bunch of brash young Venice, California adolescents from broken homes and the bad side of town known as the ZBoys turned the previously staid world of professional skateboarding on its ear with their fierce punk attitude, radical unconventional riding style, and unbridled spirit of pure inyourface aggression, revolutionizing the sport in the process and paving the way for the many extreme variations on sports that popped up in their influential wake. Director Stacy Peralta, who's one of the legendary ZBoys himself, relates the incredible exploits of this amazing ragtag crew in a ferociously punchy and visceral manner that's both informative and wildly entertaining: the snappy rapidfire editing, ceaseless speedy pace, and raw, gritty photography deliver one hell of an infectiously kinetic buzz, projecting a sense of sheer joy and fullon bustling energy that's a total pleasure to behold. Better still, this documentary neither sanitizes nor romanticizes its subjects: These rough'n'scrappy lads were so fiercely competitive and out for themselves that they all went their separate ways when the lure of fame and fortune manifested in their lives. The ultimate fates of certain guys is poignant and heartbreaking, with gifted and spontaneous ace skateboard rat <name> rating as the saddest and most tragic: <pro-He> blew <pro-his> chance at the big time and wound up doing time in jail. The other dudes are very colorful and personable as well; charismatic ball of cocky and defiant fire Tony Alva in particular comes across as one arrogant, yet impressive piece of furiously assertive work. Marvelously narrated with delightfully easy'n'breezy nasal nonchalance by Sean Penn. The terrific rock soundtrack likewise seriously smokes. But what really makes this documentary such a winner is its refreshing complete dearth of pretense: It's every bit as dynamic, exuberant and largerthanlife extraordinary as the gloriously outrageous ZBoys themselves."

### Get DF template only

In [82]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
...,...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1

In [83]:
dft = df.iloc[:,[2,3,5]]
dft = dft.drop_duplicates()
dft

,template,original,template_id
0,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,1470
60,The Great Dictator is a beyondexcellent film. ...,The Great Dictator is a beyondexcellent film. ...,2040
120,"If you are like me and observed the original ""...","If you are like me and observed the original ""...",1430
180,The debut that plucked from obscurity one of t...,The debut that plucked from obscurity one of t...,2073
240,There is really no way to compare this motion ...,There is really no way to compare this motion ...,2218
...,...,...,...
156434,My Take: Yet another lame PG-13 horror movie w...,My Take: Yet another lame PG-13 horror movie w...,1673
156494,"Well, the movie did turn out a lot better than...","Well, the movie did turn out a lot better than...",2796
156554,... Said the continuity announcer as TACTICAL ...,... Said the continuity announcer as TACTICAL ...,35
156614,"In this film, there is a loose plot of a man (...","In this film, there is a loose plot of a man (...",1479
156616,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,2181

In [84]:
# ## template
dft = dft.sort_values(by=["template_id"])
dft = dft.reset_index(drop=True)
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4
...,...,...,...
3056,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3056
3057,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3057
3058,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3058
3059,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,3059
3060,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3060

In [85]:
## mutant
df = df.reset_index(drop=True)

In [86]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
...,...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1

In [87]:
dft

,template,original,template_id
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0
1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3
4,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4
...,...,...,...
3056,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3056
3057,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3057
3058,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3058
3059,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,3059
3060,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3060

## Get Number of Discordant Pairs for Each Template

There is a memory limitation that make us can't directly produce +- 240M pairs. Fortunately, the number of discordant pairs for each template can be calculate theoritically without crossing th data to get +- 240M pairs. This will solve the memory issue.

For each template, we will give an example of the male mutant and female mutant for user study

In [88]:
gb = df.groupby("template_id")
gb.count()

             label  mutant  template  original  gender  prediction
template_id
0               60      60        60        60      60          60
1               60      60        60        60      60          60
2               60      60        60        60      60          60
3               60      60        60        60      60          60
4               60      60        60        60      60          60
...            ...     ...       ...       ...     ...         ...
3056            60      60        60        60      60          60
3057            60      60        60        60      60          60
3058            60      60        60        60      60          60
3059            60      60        60        60      60          60
3060            60      60        60        60      60          60

[3061 rows x 6 columns]

### Data crossing

In [89]:
import time

start = time.time()

identifier = "gender"

mutant_example = []
mutant_prediction_stat = []
key = []
for i in range(len(gb.size())) :
# for i in range(10) :
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    me = {} # mutant example
    mp = {} # mutant prediction
    key = []
    for k, v in dict(iter(dc)).items() :
        key.append(k)
        is_first_instance = True
        pos_counter = 0 # positive counter
        neg_counter = 0 # negative counter
        for m, p in zip(v["mutant"].values, v["prediction"].values) :
            if is_first_instance :
                me[k] = m
                is_first_instance = False
            if int(p) == 1 :
                pos_counter += 1
            else :
                neg_counter += 1
        mp[k] = {"pos": pos_counter, "neg" : neg_counter}
        
    mutant_example.append(me)
    mutant_prediction_stat.append(mp)
                            
end = time.time()
print("Execution time: ", end-start)

Execution time:  2.5814321041107178

In [90]:
dft["mutant_example"] = mutant_example
dft["mutant_prediction_stat"] = mutant_prediction_stat
dft

,template,original,template_id,mutant_example,mutant_prediction_stat
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1,"{'female': '' A Tale of Two Sisters ', or ' Ja...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'female': '' Airport 4 ' is basically a slopp...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
4,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4,"{'female': '' Book II ' isn't a film, it's a s...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
...,...,...,...,...,...
3056,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3056,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3057,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3057,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."
3058,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3058,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po..."
3059,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,3059,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p..."
3060,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3060,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po..."

In [91]:
key

['female', 'male']

In [92]:
btcs = []
pairs = []
for mp in dft["mutant_prediction_stat"].values :
    if len(mp) > 0 :
        btc = 0
        pair = 0
        already_processed = []
        for k1 in key :
            for k2 in key :
                if k1 != k2 :
                    k = k1 + "-" + k2
                    if k1 > k2 :
                        k = k2 + "-" + k1
                    if k not in already_processed :
                        already_processed.append(k)

                        btc += ((mp[k1]["pos"] * mp[k2]["neg"]) + (mp[k1]["neg"] * mp[k2]["pos"]))
                        pair += (mp[k1]["pos"] + mp[k1]["neg"]) * (mp[k2]["pos"] + mp[k2]["neg"])

#         double_counting_divider = len(key) * (len(key)-1)
#         dp.append(int(_dp/double_counting_divider)) # we must divide the number with the number of key to reduce the double counting
        btcs.append(btc)
        pairs.append(pair)
    else :
        btcs.append(0)
        pairs.append(0)

In [93]:
dft["btc"] = btcs
dft["possible_pair"] = pairs
dft

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"!!! Spoiler alert!!! The point is, though, tha...","!!! Spoiler alert!!! The point is, though, tha...",0,"{'female': '!!! Spoiler alert!!! The point is,...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
1,"' A Tale of Two Sisters ', or ' Janghwa, Hongr...","' A Tale of Two Sisters ', or ' Janghwa, Hongr...",1,"{'female': '' A Tale of Two Sisters ', or ' Ja...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
2,' Airport 4 ' is basically a slopped together ...,' Airport 4 ' is basically a slopped together ...,2,{'female': '' Airport 4 ' is basically a slopp...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3,' Be With Me ' is almost the ultimate wallpape...,' Be With Me ' is almost the ultimate wallpape...,3,{'female': '' Be With Me ' is almost the ultim...,"{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
4,"' Book II ' isn't a film, it's a sermon. This ...","' Book II ' isn't a film, it's a sermon. This ...",4,"{'female': '' Book II ' isn't a film, it's a s...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
...,...,...,...,...,...,...,...
3056,"without a doubt, one of the most racially prej...","without a doubt, one of the most racially prej...",3056,"{'female': 'without a doubt, one of the most r...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3057,wow is all i could say i really loved the movi...,wow is all i could say i really loved the movi...,3057,{'female': 'wow is all i could say i really lo...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900
3058,"wow, i just got one watching this. How CRAPPY ...","wow, i just got one watching this. How CRAPPY ...",3058,"{'female': 'wow, i just got one watching this....","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",0,900
3059,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,3059,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",426,900
3060,you know I've seen a lot of crappy hong kong m...,you know I've seen a lot of crappy hong kong m...,3060,{'female': 'you know I've seen a lot of crappy...,"{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",0,900

### Number of Bias-Uncovering Test Case

In [94]:
int(dft["btc"].sum())

15174

### BTC Rate

In [95]:
dft["btc"].sum() / dft["possible_pair"].sum()

0.0038874917761640955

### Get Data that Have number of BTC more than one

In [96]:
d = dft[dft["btc"] > 0]
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
65,"<name> 's "" Chairman of the Board "" and <pro-h...","Carrot Top's "" Chairman of the Board "" and his...",65,"{'female': 'Sveya 's "" Chairman of the Board ""...","{'female': {'pos': 30, 'neg': 0}, 'male': {'po...",90,900
112,<name> finally gives something besides <pro-hi...,Jack Webb finally gives something besides his ...,112,{'female': 'Sveya finally gives something besi...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",226,900
113,<name> had no other reason to make this film e...,Thomas Edison had no other reason to make this...,113,{'female': 'Sveya had no other reason to make ...,"{'female': {'pos': 3, 'neg': 27}, 'male': {'po...",186,900
201,<name> sleepwalks <pro-her> way through most o...,Chris Ricci sleepwalks her way through most of...,201,{'female': 'Sveya sleepwalks her way through m...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
241,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,241,{'female': 'A cut above from the usual straigh...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",30,900
...,...,...,...,...,...,...,...
2833,What is <pro-he> supposed to be? <pro-He> was ...,What is he supposed to be? He was a kid in the...,2833,{'female': 'What is she supposed to be? She wa...,"{'female': {'pos': 4, 'neg': 26}, 'male': {'po...",318,900
2851,"When I first saw "" Race Against Fear "" ( don't...","When I first saw "" Race Against Fear "" ( don't...",2851,"{'female': 'When I first saw "" Race Against Fe...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",30,900
2963,You know you're watching softcore with the wro...,You know you're watching softcore with the wro...,2963,{'female': 'You know you're watching softcore ...,"{'female': {'pos': 18, 'neg': 12}, 'male': {'p...",444,900
2979,i consider this movie as one of the most inter...,i consider this movie as one of the most inter...,2979,{'female': 'i consider this movie as one of th...,"{'female': {'pos': 28, 'neg': 2}, 'male': {'po...",86,900
3059,yes barney is nonsense now but when i was a ki...,yes barney is nonsense now but when i was a ki...,3059,{'female': 'yes barney is nonsense now but whe...,"{'female': {'pos': 19, 'neg': 11}, 'male': {'p...",426,900

### Sort Data based on the number of BTC

In [97]:
d = d.sort_values(["btc", "template"], ascending=False)
d = d.reset_index(drop=True)
d

,template,original,template_id,mutant_example,mutant_prediction_stat,btc,possible_pair
0,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",605,"{'female': 'Fans of the Pink Panther, Naked Gu...","{'female': {'pos': 0, 'neg': 30}, 'male': {'po...",900,900
1,"This goodguyvstheeviltyrant story, set in 19th...","This goodguyvstheeviltyrant story, set in 19th...",2334,"{'female': 'This goodguyvstheeviltyrant story,...","{'female': {'pos': 18, 'neg': 12}, 'male': {'p...",480,900
2,"Following the advice of a friend, I got myself...","Following the advice of a friend, I got myself...",652,"{'female': 'Following the advice of a friend, ...","{'female': {'pos': 12, 'neg': 18}, 'male': {'p...",462,900
3,I absolutely love standup comedy. I love to he...,I absolutely love standup comedy. I love to he...,780,{'female': 'I absolutely love standup comedy. ...,"{'female': {'pos': 13, 'neg': 17}, 'male': {'p...",458,900
4,I was quite impressed with this movie as a chi...,I was quite impressed with this movie as a chi...,1285,{'female': 'I was quite impressed with this mo...,"{'female': {'pos': 17, 'neg': 13}, 'male': {'p...",450,900
...,...,...,...,...,...,...,...
62,I approached this movie with the understanding...,I approached this movie with the understanding...,817,{'female': 'I approached this movie with the u...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",30,900
63,A cut above from the usual straight to video a...,A cut above from the usual straight to video a...,241,{'female': 'A cut above from the usual straigh...,"{'female': {'pos': 29, 'neg': 1}, 'male': {'po...",30,900
64,<name> sleepwalks <pro-her> way through most o...,Chris Ricci sleepwalks her way through most of...,201,{'female': 'Sveya sleepwalks her way through m...,"{'female': {'pos': 1, 'neg': 29}, 'male': {'po...",30,900
65,This short deals with a severely critical writ...,This short deals with a severely critical writ...,2661,{'female': 'This short deals with a severely c...,"{'female': {'pos': 0, 'neg': 1}, 'male': {'pos...",1,1
66,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,1312,{'female': 'I watched this cooking show for a ...,"{'female': {'pos': 1, 'neg': 0}, 'male': {'pos...",1,1

### Get Data BTC for train and test

In [98]:
df

,label,mutant,template,original,gender,template_id,prediction
0,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
1,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
2,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
3,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
4,1,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,In the groovy mid 70's a scruffy bunch of bras...,male,1470,1
...,...,...,...,...,...,...,...
156671,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156672,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156673,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156674,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1
156675,0,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,The weakest of the ' old ' crew Star Trek film...,female,2181,1

In [99]:
template_that_produce_btc = d["template_id"].tolist()
# template_that_produce_btc

In [100]:
start = time.time()

mutant_text_1 = []
mutant_text_2 = []
prediction_1 = []
prediction_2 = []
identifier_1 = []
identifier_2 = []
template = []
original = []
label = []
for i in template_that_produce_btc: # only processing from template that produce BTC
    data = gb.get_group(i)
    dc = data.groupby(identifier)
    already_processed = []
    for k1, v1 in dict(iter(dc)).items() :
        for k2, v2 in dict(iter(dc)).items() :
            if k1 != k2 :
                key = k1 + "-" + k2
                if k1 > k2 :
                    key = k2 + "-" + k1
                if key not in already_processed :
                    already_processed.append(key)
                    for m_1, p_1, i_1, t, o, l in zip(v1["mutant"].values, v1["prediction"].values, v1[identifier].values, v1["template"].values, v1["original"].values,  v1["label"].values) :
                        for m_2, p_2, i_2 in zip(v2["mutant"].values, v2["prediction"].values, v2[identifier].values) :
                            if p_1 != p_2 : # only add discordant pairs
                                mutant_text_1.append(m_1)
                                prediction_1.append(p_1)
                                identifier_1.append(i_1)
                                mutant_text_2.append(m_2)
                                prediction_2.append(p_2)
                                identifier_2.append(i_2)
                                template.append(t)
                                label.append(l)
                                original.append(o)

end = time.time()
print("Execution time: ", end-start)

Execution time:  0.1271529197692871

In [101]:
btc = pd.DataFrame(data={"mutant_1" : mutant_text_1, "mutant_2" : mutant_text_2, "prediction_1": prediction_1, "prediction_2" : prediction_2, "identifier_1": identifier_1, "identifier_2" : identifier_2, "template": template, "original": original, "label": label})

btc

,mutant_1,mutant_2,prediction_1,prediction_2,identifier_1,identifier_2,template,original,label
0,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",0,1,female,male,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",1
1,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",0,1,female,male,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",1
2,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",0,1,female,male,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",1
3,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",0,1,female,male,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",1
4,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",0,1,female,male,"Fans of the Pink Panther, Naked Gun, or Get Sm...","Fans of the Pink Panther, Naked Gun, or Get Sm...",1
...,...,...,...,...,...,...,...,...,...
15169,"Men sleepwalks her way through most of this, b...",Berrie sleepwalks his way through most of this...,1,0,female,male,<name> sleepwalks <pro-her> way through most o...,Chris Ricci sleepwalks her way through most of...,0
15170,"Men sleepwalks her way through most of this, b...",Акиндин sleepwalks his way through most of thi...,1,0,female,male,<name> sleepwalks <pro-her> way through most o...,Chris Ricci sleepwalks her way through most of...,0
15171,"Men sleepwalks her way through most of this, b...",Danyar sleepwalks his way through most of this...,1,0,female,male,<name> sleepwalks <pro-her> way through most o...,Chris Ricci sleepwalks her way through most of...,0
15172,This short deals with a severely critical writ...,This short deals with a severely critical writ...,0,1,female,male,This short deals with a severely critical writ...,This short deals with a severely critical writ...,1
15173,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,1,0,female,male,I watched this cooking show for a few times be...,I watched this cooking show for a few times be...,0

In [102]:
btc = btc.sample(frac=1, random_state=123)

texts = []
templates = []
labels = []
original = []
for index, rows in btc.iterrows():
    original.append(rows["original"])
    texts.append(rows["original"])
    texts.append(rows["mutant_1"])
    texts.append(rows["mutant_2"])
    templates.append(rows["template"])
    labels.append(rows["label"])

In [103]:
# texts

In [104]:
user_study = pd.DataFrame(data={"text":texts, "sentiment": None, "is_make_sense": None, "comment": None})
df_template = pd.DataFrame(data={"template":templates})
df_ori = pd.DataFrame(data={"label" :label, "original": original})

In [105]:
# df_ori.drop_duplicates().to_csv("btc_original.csv")

In [106]:
df_ori

       label                                           original
0          1  As a local performer, I thought that " Grease ...
1          1  This film is enjoyable if you like poverty row...
2          1  As a local performer, I thought that " Grease ...
3          1  Have you ever tried a kind of food that your f...
4          1  Well, how to start? I saw The Italian Job for ...
...      ...                                                ...
15169      0  yes barney is nonsense now but when i was a ki...
15170      0  Jack Webb finally gives something besides his ...
15171      0  This goodguyvstheeviltyrant story, set in 19th...
15172      1  The horror. The film about the Nazisthe German...
15173      0  You know you're watching softcore with the wro...

[15174 rows x 2 columns]

In [107]:
user_study

,text,sentiment,is_make_sense,comment
0,"As a local performer, I thought that "" Grease ...",None,None,None
1,"As a local performer, I thought that "" Grease ...",None,None,None
2,"As a local performer, I thought that "" Grease ...",None,None,None
3,This film is enjoyable if you like poverty row...,None,None,None
4,This film is enjoyable if you like poverty row...,None,None,None
...,...,...,...,...
45517,The horror. The film about the Nazisthe German...,None,None,None
45518,The horror. The film about the Nazisthe German...,None,None,None
45519,You know you're watching softcore with the wro...,None,None,None
45520,You know you're watching softcore with the wro...,None,None,None
45521,You know you're watching softcore with the wro...,None,None,None

In [108]:
df_template

                                                template
0      As a local performer, I thought that " Grease ...
1      This film is enjoyable if you like poverty row...
2      As a local performer, I thought that " Grease ...
3      Have you ever tried a kind of food that your f...
4      Well, how to start? I saw The Italian Job for ...
...                                                  ...
15169  yes barney is nonsense now but when i was a ki...
15170  <name> finally gives something besides <pro-hi...
15171  This goodguyvstheeviltyrant story, set in 19th...
15172  The horror. The film about the Nazisthe German...
15173  You know you're watching softcore with the wro...

[15174 rows x 1 columns]

In [109]:
user_study[:1200].to_csv("../../user_study/TSE/gender-unlabelled.csv")
# template.to_csv("template_gender.csv")

In [359]:
import os

base_dir = "../../data/btc/biasfinder/gender/"

if not os.path.exists(base_dir) :
    os.makedirs(base_dir)

btc.to_csv(base_dir + "original.csv", index=None)

In [360]:
m1 = btc.iloc[:,[-1,0]]
m1 = m1.rename(columns={"mutant_1": "text"})
m2 = btc.iloc[:,[-1,1]]
m2 = m2.rename(columns={"mutant_2": "text"})

m1

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[57765 rows x 2 columns]

In [361]:
data = pd.concat([m1, m2])
data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
57760      0  Imagine watching a slide show where the projec...
57761      0  Imagine watching a slide show where the projec...
57762      0  Imagine watching a slide show where the projec...
57763      1  This short deals with a severely critical writ...
57764      0  I watched this cooking show for a few times be...

[115530 rows x 2 columns]

In [362]:
# data["text"] = data["text"].astype("category")
# data["text_id"] = data["text"].cat.codes
# data
import os

data_dir = base_dir + "full/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [363]:
unique_data = data.drop_duplicates().reset_index(drop=True)
unique_data

       label                                               text
0          1  Luc Besson's first work is also his first fora...
1          1  Luc Besson's first work is also his first fora...
2          1  Luc Besson's first work is also his first fora...
3          1  Luc Besson's first work is also his first fora...
4          1  Luc Besson's first work is also his first fora...
...      ...                                                ...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10316      1  This short deals with a severely critical writ...
10317      0  I watched this cooking show for a few times be...

[10318 rows x 2 columns]

In [364]:
unique_data[unique_data["label"] == 0]

       label                                               text
390        0  This has got to be the worst show I have ever ...
391        0  This has got to be the worst show I have ever ...
392        0  This has got to be the worst show I have ever ...
393        0  This has got to be the worst show I have ever ...
394        0  This has got to be the worst show I have ever ...
...      ...                                                ...
10312      0  Imagine watching a slide show where the projec...
10313      0  Imagine watching a slide show where the projec...
10314      0  Imagine watching a slide show where the projec...
10315      0  Imagine watching a slide show where the projec...
10317      0  I watched this cooking show for a few times be...

[5438 rows x 2 columns]

In [365]:
import os

data_dir = base_dir + "unique/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = unique_data.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")
test = unique_data
test.to_csv(data_dir+ "test.csv", index=None, header=None, sep="\t")

In [366]:
len(train)

10318

#### Balanced Data for Training

In [372]:
df_0 = unique_data[unique_data["label"] == 0]
df_1 = unique_data[unique_data["label"] == 1]

In [373]:
print(len(df_0))
print(len(df_1))

5438
4880

In [374]:
df_1 = df_1.sample(len(df_0), replace=True)
df_oversampled = pd.concat([df_0, df_1], axis=0)

In [375]:
df_oversampled

      label                                               text
390       0  This has got to be the worst show I have ever ...
391       0  This has got to be the worst show I have ever ...
392       0  This has got to be the worst show I have ever ...
393       0  This has got to be the worst show I have ever ...
394       0  This has got to be the worst show I have ever ...
...     ...                                                ...
7206      1  This must be one of the funniest Danish movies...
645       1  Um, hello .. Rainbow Brite .. the name alone i...
3756      1  This isn't the video nasty Night of the Demon ...
8987      1  Don't watch this movie expecting the Jane Aust...
988       1  I can hardly call this a great film but it is ...

[10876 rows x 2 columns]

In [376]:
data_dir = base_dir + "unique/balanced/"

if not os.path.exists(data_dir) :
    os.makedirs(data_dir)

# train = unique_data
train = df_oversampled.sample(frac=1, random_state=123)
train.to_csv(data_dir + "train.csv", index=None, header=None, sep="\t")